<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<h1>Your total postage cost is $<%= cost.toFixed(2) %></h1>
	<h2>Type of mail: <%= type %></h2>
	<h2>Weight: <%= weight %>oz</h2>
	

</body>
</html>